<!DOCTYPE html>
<html>
  <head>
    <title>Acesso a Plataforma</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      /* Base */
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #fafafa;
        color: #222222;
      }
      a {
        color: #000;
        text-decoration: none;
      }
      a:visited {
        color: black;
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }
      table td {
        vertical-align: top;
      }
      /* Layout */
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #000;
        padding: 24px;
        color: #ffffff;
      }
      .logo {
        width: 200px;
      }
      .email-body {
        padding: 24px;
        background-color: #ffffff;
      }
      .email-footer {
        background-color: #f6f6f6;
        padding: 24px;
      }
      /* Buttons */
      .button {
        display: inline-block;
        background-color: #000;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        padding: 12px 24px;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <img class="logo" src="https://app.visalashpro.com.br//favicon.ico" alt="logo" />
        <h1>Bem-vindo à plataforma</h1>
      </div>
      <div class="email-body">
        <p>Olá <%= user.name %>,</p>
        <p>Bem-vindo à nossa plataforma! Abaixo estão os detalhes para acessar sua conta:</p>
        <p><strong>E-mail:</strong> <%= user.email %></p>
        <p><strong>Senha:</strong> <%= password %></p>
        <p>
          Recomendamos que você altere sua senha após o primeiro login para garantir a segurança da
          sua conta.
        </p>
        <p>
          <strong>Para acessar a plataforma, clique no link a seguir: </strong>
          <a href="<%= appUrl %>" target="_blank"><%= appUrl %></a>
        </p>
        <br />
        <strong>Obrigado por escolher o Visa Lash Pro!</strong>
        <br />
        <br />
        <p style="margin-bottom: 0px">Atenciosamente,</p>
        <p>Equipe Visa Lash Pro</p>
      </div>

      <div class="email-footer">
        <p>
          Se você tiver alguma dúvida, não hesite em nos contatar em
          <a href="mailto:visalashpro@millalashes.com.br">visalashpro@millalashes.com.br</a>
        </p>
      </div>
    </div>
  </body>
</html>
